@page "/"
@using final.lib

<PageTitle>Index</PageTitle>

<h1>Player Name</h1>

<label for="name">Name: </label>
<input type='text' name="name" @bind=newPlayerName>
@* <button @onclick="makePlayerName">Make Player Name</button> *@

@code
{
    string newPlayerName;
}