@page "/"
@using final.lib

<PageTitle>Index</PageTitle>

<h1>Player Name</h1>

<label>Name: </label>
<input type='text' @bind=newPlayerName>
@* <button @onclick="makePlayerName">Make Player Name</button> *@

<h1>Players</h1>
<input @onchange=filterChanged>
@if (final.PlayerID.Count() == 0)
{
    <p>No players in list.</p>
}