@page "/"
@using final.lib

<PageTitle>Index</PageTitle>

<h1>Player Name</h1>

<label for="name">Name: </label>
<input type='text' name="name">
<label for="score">Score: </label>
<input type='text' name="score">


@code
{
    public class Scores{}

}